/*=== Page header logic ===*/

.header {
    background-color: white;
}

.header img {
    display: block;

    width: 500px;
    margin: .2rem auto;

    /* Align with page offset */
    padding-left: 10rem;
}

.header h2 {
    color: white;
    background-color: #00a6f0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: .5rem;

    /* Align with page offset */
    padding-left: 5rem;
}

.header .header__sub-header {
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: .3rem;
    font-size: .8rem;
}

.header .header--fixed {
    position: fixed;
    top: 0px;
    z-index: 50;
}

.footer {

    background-color: white;
    width: 48rem;
    padding: .3rem 1rem;
    margin: 0 auto;
    color: #999999;
    font-size: .8rem;
}

.footer div {
    display: inline-block;
}

.footer .footer__right {
    float: right;
}