
/*Ex:
.section h3
*/

h3 {
    padding: 10px;
    padding-left: 60px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: inline-block;
    position: relative;
    color: white;
    left: -10px;
    
    font-size: 25px;

    /*Give the header a thin look*/
    letter-spacing: 2px;
    font-weight: normal;

    /*To round the edge like a circle*/
    border-radius: 0px 30px 30px 0px;
    -moz-border-radius: 0px 30px 30px 0px;
    -webkit-border-radius: 0px 30px 30px 0px;
}

.section:nth-child(3n+0) h3 {
    background: rgba(215,15,38,1);
    background: -moz-linear-gradient(left, rgba(215,15,38,1) 0%, rgba(215,15,38,1) 69%, rgba(176,12,32,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(215,15,38,1)), color-stop(69%, rgba(215,15,38,1)), color-stop(100%, rgba(176,12,32,1)));
    background: -webkit-linear-gradient(left, rgba(215,15,38,1) 0%, rgba(215,15,38,1) 69%, rgba(176,12,32,1) 100%);
    background: -o-linear-gradient(left, rgba(215,15,38,1) 0%, rgba(215,15,38,1) 69%, rgba(176,12,32,1) 100%);
    background: -ms-linear-gradient(left, rgba(215,15,38,1) 0%, rgba(215,15,38,1) 69%, rgba(176,12,32,1) 100%);
    background: linear-gradient(to right, rgba(215,15,38,1) 0%, rgba(215,15,38,1) 69%, rgba(176,12,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d70f26', endColorstr='#b00c20', GradientType=1 );
}

.section:nth-child(3n+1) h3 {

    /*Blue*/
    /*To show some color transition to look polished*/
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 70%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(70%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 70%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 70%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 70%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 70%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}

.section:nth-child(3n+2) h3 {

    /*Green*/
    background: rgba(0,207,59,1);
    background: -moz-linear-gradient(left, rgba(0,207,59,1) 0%, rgba(0,207,59,1) 70%, rgba(0,168,59,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,207,59,1)), color-stop(70%, rgba(0,207,59,1)), color-stop(100%, rgba(0,168,59,1)));
    background: -webkit-linear-gradient(left, rgba(0,207,59,1) 0%, rgba(0,207,59,1) 70%, rgba(0,168,59,1) 100%);
    background: -o-linear-gradient(left, rgba(0,207,59,1) 0%, rgba(0,207,59,1) 70%, rgba(0,168,59,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,207,59,1) 0%, rgba(0,207,59,1) 70%, rgba(0,168,59,1) 100%);
    background: linear-gradient(to right, rgba(0,207,59,1) 0%, rgba(0,207,59,1) 70%, rgba(0,168,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cf3b', endColorstr='#00a83b', GradientType=1 );
}






