/*=== Navbar Logic ===*/

.nav-button-container {
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.nav-bar {
	/*To hide shadow*/
    background-color: white;
}

.nav-button-container a {

    /*Remove default underline*/
    text-decoration: none;

    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    
    /*kerning*/
    letter-spacing: 1px;

    padding: 10px;
    margin: 5px;

    color: white;
    border: 2px solid white;
    
    /*Keep tabs the same size*/
    width: 100px;
    text-align: center;
}

.nav-button-container a:nth-child(3n+0).active {
    background-color: rgba(0,168,59,1); /*dark-green*/
    color: white;
}

.nav-button-container a:nth-child(3n+0) {
    border-color: rgba(0,168,59,1); /*dark-green*/
    color: rgba(0,168,59,1); /*dark-green*/
}

.nav-button-container a:nth-child(3n+1).active {
    background-color: rgba(32,124,229,1); /*dark-blue*/
    color: white;
}

.nav-button-container a:nth-child(3n+1) {
    border-color: rgba(32,124,229,1); /*dark-blue*/
    color: rgba(32,124,229,1); /*dark-blue*/
}

.nav-button-container a:nth-child(3n+2).active {
    background-color: rgba(176,12,32,1); /*dark-red*/
    color: white;
}

.nav-button-container a:nth-child(3n+2) {
    border-color: rgba(176,12,32,1); /*dark-red*/
    color: rgba(176,12,32,1); /*dark-red*/
}