/*=== Display ===*/

[auto-min-width], [min] {
	display: inline !important;
}

[manual-width], [set] {
	display: inline-block !important;
}

[auto-max-width], [max] {
	display: block !important;
}

[manual-flex], [flex] {
	display: flex !important;
}

[none] {
	display: none !important;
}

/*=== Position ===*/

[relative], [rel] {
	position: relative !important;
}

[absolute], [abs] {
	position: absolute !important;
}

[fixed], [fix] {
	position: fixed !important;
}

/*=== Defaults ===*/

body:not([no-simple-depend]), div:not([no-simple-depend]), span:not([no-simple-depend]) {
	display: inline-block;
	position: relative;
}