/*=== Primary Colors ===*/

/*
Based on Google's colors

red= #ff4508
dark-red= rgba(176,12,32,1)
blue= #00a6f0
dark-blue= rgba(32,124,229,1)
green= #6cba00
dark-green= rgba(0,168,59,1)
yellow= #ffb700
*/

/*=== General Tags ===*/

html, body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Itim', cursive;
}

.overlay {
    position: fixed;
    
    /* make mobile and desktop browser windows the same */
    width: 100vw;
    height: 100vh;

    /* background */
    background: url(../img/background.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    overflow-x: hidden;
}

h2 {
    font-size: 1.7rem;
    letter-spacing: .15rem;
}

a {
    color: #00a6f0;
}

/*=== Override Bootstrap ===*/


html, body {
    font-size: 16px;
    line-height: 1.3;
}

* {
    /*Do not include border or padding with width of object*/
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/*=== Overall Sizing ===*/

.scrollable {
    position: absolute;
    width: 100%;
    font-size: 16px;
    line-height: 1.3;
}

/* center content and navbar */
.container {

    /*To make side-nav absolute positioning relative to this*/
    position: relative;

    margin: 0 auto;
    width: 50rem;
}

.container > div {

    position: absolute;

    margin-left: 10rem;

    /*
    container width= 50rem
    margin = 10rem
    */
    width: calc(50rem - 10rem);
}

.container > div > div {

    position: relative;
}

/* contains the detail for the interchangable screens */
.content {

    /* pos to stack content over nav bar*/
    position: absolute;

    /* 
        view port height = 100vh
        image padding = 1rem 
        image size + header height = 240px
    */
    min-height: calc(100vh - 1rem - 256px);
    
    /* format */
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;

    /* shadow */
    -webkit-box-shadow: 0px 0px 50px 5px rgba(136,136,136,0.7);
    -moz-box-shadow: 0px 0px 50px 5px rgba(136,136,136,0.7);
    box-shadow: 0px 0px 50px 5px rgba(136,136,136,0.7);
}

/*=== Flex Logic ===*/

.flex-container {
	
	/*take up parent size*/
	width: 100%;

	/*Flex*/
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

/*
If flex container is large enough,
allow context to become two columns
*/
.flex-container .possible-half {
	flex-grow: 1;
    flex-basis: 300px;
}

/*=== Location ===*/

.map {
	margin-top: 20px;
}

/*=== Quote ===*/

/*
Smaller text with more spacing. 
To give a different flavor to a text block. 
Also a colored line
*/
p.quote {

    border-left: 5px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 90%;
    max-width: 300px;
    line-height: 1.5;
    height: 100%;

    /*Give a smaller flex basis*/
    flex-basis: 300px;
}

p.quote:nth-child(3n+0) {
	border-color: rgba(0,168,59,1); /*dark-green*/
}

p.quote:nth-child(3n+1) {
	border-color: rgba(32,124,229,1); /*dark-blue*/
}

p.quote:nth-child(3n+2) {
	border-color: rgb(213,15,37,1); /*dark-red*/
}

/*=== Profile Picture ===*/

img.profile {

	/*Set max for flex item resizing*/
	max-width: 300px;
    max-height: 300px;

    margin: 20px;

    /*Give a smaller flex basis*/
    flex-basis: 300px;
}

/*=== Page Specific ===*/

.location {

    /*center map*/
    text-align: center;
}