<div>
	<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
			<img ng-src="{{slide.image}}" style="margin:auto;">
			<div class="carousel-caption">
				<h4>{{slide.title}}</h4>
				<p>{{slide.text}}</p>
			</div>
		</uib-slide>
	</uib-carousel>
</div>
<div class="hostess">
	<div class="well" ng-click="goToServices()">
		<h4 class="red">How we can help</h4>
		<p>A large range of kid focused services. Fun therapies aimed towards helping your child succeed.</p>
		<span>Go To Services</span>
	</div>
	<div>
		<h4 class="yellow">Make an appointment</h4>
		<p><i class="fa fa-clock-o"></i>Mon - Thu 9<small>am</small> <small>to</small> 7<small>pm</small></p>
		<p><i class="fa fa-phone"></i>(810) 212-1134</p>
		<p><i class="fa fa-envelope"></i>test@therapy.com</p>
		<p><i class="fa fa-map"></i><a target="_blank" href="http://www.google.com/maps/place/3508+S+Lapeer+Rd,+Metamora,+MI+48455/@42.9552578,-83.3148931,18z/data=!4m2!3m1!1s0x88248a40b255f7db:0x1d4a2e6242157d15">3508 South Lapeer Rd</a></p>
	</div>
	<div class="well" ng-click="goToStaff()">
		<h4 class="green">Who we are</h4>
		<p>Get to know our friendly specialists.  With years of experience, they are ready to help.</p>
		<span>Go To Staff</span>
	</div>
</div>