<div class="services">
	<div class="profile profile--red profile--noborder">
		<span class="profile__pic" >
			<img src="img/website/physical.svg">
		</span>
		<span class="profile__desc">
			<h3>Pediatric Physical Therapy</h3>
			<p>
				<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna nisl, porttitor in lobortis nec, porttitor id purus. Integer efficitur, neque ac malesuada facilisis, purus risus placerat dolor, euismod pellentesque diam velit a dui. Pellentesque rutrum feugiat augue, a dictum diam ornare mollis. In eget nibh in leo facilisis interdum. Sed non lacinia nisl. Morbi volutpat orci vel lacus molestie pretium. </span>
				<a class="profile__readmore" ng-click="readmore('Physical')">Read More...</a>
			</p>
			<p class="profile__2-desc"
				ng-class="{'profile__2-desc--show': showAdditionalDescription.Physical}">
				Nunc lacinia mi eu ipsum aliquam, in tempor orci tincidunt. Suspendisse ac nulla eu elit sollicitudin blandit sit amet sit amet orci. Nam nisl mi, eleifend finibus augue sit amet, ultricies tristique velit. Fusce eget mauris ut dui imperdiet commodo vitae ut nulla. Vivamus venenatis eleifend quam quis sagittis.
			</p>
		</span>
	</div>
	<div class="profile profile--yellow profile--noborder">
		<span class="profile__pic" >
			<img src="img/website/occupational.svg">
		</span>
		<span class="profile__desc">
			<h3>Pediatric Occupational Therapy</h3>
			<p>Ut condimentum leo in mi lobortis, sed facilisis augue vestibulum. Suspendisse vel fermentum massa. Nam vitae ligula ac metus ultrices elementum vel eu purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ipsum velit, porttitor elementum imperdiet sit amet, bibendum quis sem. Sed sit amet eros metus. 
			<a class="profile__readmore" ng-click="readmore('Occupational')">Read More...</a></p>
			<p class="profile__2-desc"
				ng-class="{'profile__2-desc--show': showAdditionalDescription.Occupational}">
				Maecenas ultricies risus eu posuere ornare. Nulla ultrices cursus consequat. Integer egestas consectetur velit quis dapibus. Fusce feugiat tempor tortor at tristique. Duis dui magna, molestie eget lobortis sit amet, pretium eget enim. Aliquam gravida mi eget ultricies ullamcorper.
			</p>
		</span>
	</div>
	<div class="profile profile--green profile--noborder">
		<span class="profile__pic" >
			<img src="img/website/speech.svg">
		</span>
		<span class="profile__desc">
			<h3>Pediatric Speech Therapy</h3>
			<p>Etiam tempus vehicula arcu in varius. Vestibulum tristique mattis turpis lobortis tincidunt. Sed pharetra ultrices dolor, sit amet eleifend neque ultricies nec. Ut leo mi, ultricies ac orci non, semper convallis dui. Cras a facilisis nunc. Nam posuere diam id ante iaculis rutrum. Integer nunc justo, posuere a velit id, dapibus volutpat erat. Etiam gravida suscipit efficitur. 
			<a class="profile__readmore" ng-click="readmore('Speech')">Read More...</a>
			</p>
			<p class="profile__2-desc"
				ng-class="{'profile__2-desc--show': showAdditionalDescription.Speech}">Fusce et massa nec sapien feugiat vulputate. Nullam ultrices turpis lorem, quis vehicula libero iaculis sit amet. Praesent placerat posuere cursus. Vivamus pretium mi nulla, ut sollicitudin tellus tempus a. Quisque mattis sem quis risus consequat, in iaculis tellus posuere. Suspendisse bibendum lectus non ligula accumsan vestibulum. Quisque ornare felis vel leo maximus, id cursus nunc dictum. In auctor ornare lectus, in ultrices dui fermentum quis. Duis eget nunc at magna lobortis pellentesque in et nisl. Quisque id ante ac odio dapibus dignissim. Nulla vitae sollicitudin libero, at iaculis leo. Curabitur at eleifend lorem.</p>
		</span>
	</div>
</div>