<div class="services">
	<div class="profile profile--red profile--noborder">
		<span class="profile__pic" >
			<img src="img/website/physical.svg">
		</span>
		<span class="profile__desc">
			<h3>Pediatric Physical Therapy</h3>
			<p>
				<span>Physical Therapy typically focuses on the larger gross motor skills and mobility such as gait or walking. This type of therapy can also can assist with developmental activities, strengthening, cardiopulmonary endurance, balance, coordination, vestibular issues, motor planning, tone or tonal management, posture, positioning, orthotics or prosthetics training.</span>
				<!-- Uncomment if we need to add more text -->
				<!--
				<a class="profile__readmore" ng-click="readmore('Physical')">Read More...</a>
				-->
			</p>
			<!-- Uncomment if we need to add more text -->
			<!--
			<p class="profile__2-desc"
				ng-class="{'profile__2-desc--show': showAdditionalDescription.Physical}">
				Nunc lacinia mi eu ipsum aliquam, in tempor orci tincidunt. Suspendisse ac nulla eu elit sollicitudin blandit sit amet sit amet orci. Nam nisl mi, eleifend finibus augue sit amet, ultricies tristique velit. Fusce eget mauris ut dui imperdiet commodo vitae ut nulla. Vivamus venenatis eleifend quam quis sagittis.
			</p>
		-->
		</span>
	</div>
	<div class="profile profile--yellow profile--noborder">
		<span class="profile__pic" >
			<img src="img/website/occupational.svg">
		</span>
		<span class="profile__desc">
			<h3>Pediatric Occupational Therapy</h3>
			<p>Occupational Therapy is a very broad based medical field aimed to assist and enhance skills needed for activities of daily living (ADLs). The word occupation is used to describe the many little jobs or ADLs to complete everyday such as getting dressed, doing chores, and working. Children also have occupations. 			
			<a class="profile__readmore" ng-click="readmore('Occupational')">Read More...</a></p>
			<p class="profile__2-desc"
				ng-class="{'profile__2-desc--show': showAdditionalDescription.Occupational}">
				Children must play and interact with the things around them in order to learn and understand; themselves, people around them, and the world. OT can help children in many different areas including developmental delay, oral motor or feeding difficulties, handwriting issues, and sensory integration processing concerns. Occupational therapists can also can assist with developmental activities, balance, coordination, vestibular issues, and motor planning.
			</p>
		</span>
	</div>
	<div class="profile profile--green profile--noborder">
		<span class="profile__pic" >
			<img src="img/website/speech.svg">
		</span>
		<span class="profile__desc">
			<h3>Pediatric Speech Therapy</h3>
			<p>Speech Therapy addresses a wide range of cognition, communication, and social skills. Speech Therapists can also address oral motor issues such as swallowing difficulties and excessive drooling. Depending on the child’s verbal abilities of the individual, treatment may be to master pronouncing proper language or it may be to learn signs, gestures, or other visual aids to communicate. 
			<a class="profile__readmore" ng-click="readmore('Speech')">Read More...</a>
			</p>
			<p class="profile__2-desc"
				ng-class="{'profile__2-desc--show': showAdditionalDescription.Speech}">Speech therapist can help educate about these different forms of communication; such as PECS picture exchange, switches, buttons, and electronic assistive communication devices. The ultimate goal is to help the individual learn useful and functional communication skills. </p>
		</span>
	</div>
</div>